<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <script src="../bower_components/jquery/jquery.js">
    </script>

    <!-- Bring In jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- <script src="/contactlist.js"></script>
    <script>
      $(document).ready(function() {
        makeContactRowClickable();
      });
    </script> -->
  </head>

  <body>
    <div class="container-fluid">
      <div class="span2" background="red">
        <h1 class="fa fa-maxcdn" background="red">New View, New Title Page</h1>
      </div>
    </div>

  </body>
</html>